/* .chatbox{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    background-color: bisque;
} */

/* .btn{
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 0%;
} */
/* .btn input{
    border: 2px solid black;
    padding: 20px 0;
    flex-grow: 1;
} */
/* .btn button{
    padding: 20px 0;
    border: 2px solid black;
}
.chat-container{
    height: 89vh;
    overflow-y: scroll;
    border: 1px solid black;
} */